.header {
    background-color: #a7a4b0;
    padding: 0.25rem;
    margin: 1rem auto;
    width: 50rem;
    max-width: 95%;
    border-radius: 6px;
    text-align: top;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.25);
  }

  .header__controls {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-bottom: 0.25rem;
    text-align: left;
  }